<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>{{titolo}}</title>
  </head>
  <body>
    {{> hero}}
{{!-- Header richiamto--}}
{{> header}}
    <h2>Pagina {{titolo}}</h2>
     <form action="/mi_presento" method="POST">
      <label for="">Indica qui il tuo nome</label>
      <input type="text" name="name" placeholder="nome" />
      <button type="submit">Invia</button>
    </form>
{{!-- Footer richiamto--}}
{{> footer}}
  </body>
</html>