<footer class="footer bg-light footer-bg-dark mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="http://localhost:3000/chisiamo">Chi siamo</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="http://localhost:3000/contatti">Contatti</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="http://localhost:3000/terminiecondizioni">Termini e
              condizioni</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="http://localhost:3000/privacypolicy">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">Copyright &copy; 2023<a
            href="#"
          >MIO SITO</a>
          Tutti i diritti riservati</p>
      </div>

    </div>
  </div>
</footer>