<header>
  <div>
    {{! "https://www.investireoggi.it/news/wp-content/uploads/sites/12/2021/06/Migliori-Universita.jpg" }}
    <img class="header_img" src="images/universita.jpeg" alt="università" />
  </div>
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark static-top header-bg-dark"
  >
    <div class="container">

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li><h1>Università Degli Studi</h1></li>
        </ul>
      </div>
    </div>
  </nav>
</header>