.toggle-mode {
  position: fixed;
  top: 255px;
  right: 30px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
  z-index: 3;
  }
  
  .toggle-mode:hover {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.75);
    cursor:pointer;
  }
  
