.toDolist .wrap{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.toDolist h3{
  text-align: center;
  
    }

.toDo_input,
.toDo_filter{
    box-sizing: border-box;
    width: 300px;;
    height: 79px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    padding-bottom:10px;
    box-sizing: border-box;
    font-size: 0.9rem;
    background-color: beige;
    margin:10px;
    border-radius: 10px;
    gap:10px;
    padding:10px;
}
.filter_input,
.button_input{
    width:150px;
}

