.CardProduct {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  background-color: rgb(103, 99, 99);
  color: black;

}

.CardProduct img {
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  filter: saturate(1.2) contrast(1.1);
}

.CardProduct hr {
  border: 0;
  width: 100px;
  border-bottom: 1px solid lightblue;
}

.CardProduct-text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
  padding: 10px 20px;
  flex-grow: 5;
  font-size: 0.9rem;;
}

.CardProduct:hover {
 scale:1.1;
}

.card_buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}